:root {
  --primary-yellow: #E09F3E;
  --primary-red: #9E2A2B;
  --primary-blue: #335C67;
  --primary-cream: #fffdf0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-cream);
  color: var(--primary-blue);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: var(--primary-blue);
  padding: 15px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.navbar li {
  margin: 0 15px;
}
.navbar a {
  color: var(--primary-cream);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: var(--primary-yellow);
}

/* Forms */
.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border: 2px solid var(--primary-yellow);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  color: var(--primary-red);
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 2px;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
}
textarea{
    width: 95%;
  padding: 8px;
  border: 1px solid var(--primary-blue);
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--primary-yellow);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
button a{
  color: inherit;
  text-decoration: none;
}

button:hover {
  background-color: var(--primary-red);
}

.search-page {
  text-align: center;
  margin-top: 40px;
}

.search-page input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid var(--primary-blue);
  border-radius: 5px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  margin: 5px auto;
  width: 60%;
  background-color: #fff;
  border: 1px solid var(--primary-yellow);
  border-radius: 5px;
}
.edit{
  text-align: center;
}
